* {
    margin: 0;
    padding: 0;
  }
  
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //10px

    @include respond(medium-phone) { //10.5
      font-size: 65.25%;
    }

    @include respond(large-phone) { //12.5
      font-size: 78.125%;
    }
    
    @include respond(tab) { //13
      font-size: 81.25%;
    }

    @include respond(desktop) { //14
      font-size: 87.5%;
    }

    @include respond(large-desktop) { //15
      font-size: 93.75%;
    }
}
  
body {
    font-family: "Nunito Regular", Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: $color-black;
    position: relative;
    z-index: 1;

}

input {
  padding: 0.5rem 1rem;
  border: none;
  &:focus {
    outline: none;
  }
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $color-green-gradient;
  height: 5rem;
  padding: 0 1.5rem;

& > div {
    cursor: pointer;
  }
}

.form {
    &__child {
      margin-bottom: 1.5rem;
    }
  
    &__input {
      border: none;
      background: transparent;
      border-bottom: $color-black solid 0.1rem;
      color: $color-black;
      width: 100%;
  
      @include respond(large-phone) {
        font-size: 1.2rem;
      }
  
      &__select {
        padding: 0.5rem;
  
        &:focus {
          outline: none;
        }
      }
    }
  
    &__currency {
      display: flex;
      align-items: center;
      background: transparent;
      border-bottom: $color-black solid 0.1rem;
      color: $color-black;
      font-size: 1.2rem;
      width: 100%;
  
      &__symbol {
        padding: 0.5rem;
      }
  
      &__input {
        width: 100%;
        padding: 0.5rem 0;
        font-size: 1.2rem;
  
        &:disabled {
          background-color: transparent;
        }
      }
    }
}
  
.input {
    &__label {
      display: block;
    }
    &__error-message {
      color: $color-red;
      font-weight: bold;
      padding: 0.5rem;
    }
}

.background-dark {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0.4;
  background-color: $color-black;
  height: 100vh;
}

.bottom-navigation{
  margin: 0;
  width: 100vw;
  padding: 2rem;
  font-size: 1.4rem;
  border-top: solid .5px #eee;
}

hr{
  border: solid .05rem #eee;
}