$color-green: #49a969;
$color-green-gradient: linear-gradient(to right, rgba(145,214,147,1) ,rgba(56,144,148,1));
$color-green-gradient-transparent: linear-gradient(to right, rgba(145,214,147,0.8) ,rgba(56,144,148,0.8)),url('~@/assets/images/money.jpg');
$color-black: #333 ;
$color-white: #fff;
$color-grey : #fbfbfb;
$color-dark-grey : #d4d4d4;
$color-red: #e30000;
